<div>Hello world!</div>
<div class="gv-coalitions-outer-wrapper">
    
        <h3 class="gv-elex-title">Possible coalitions</h3>
    
        <div class="gv-coalitions-wrapper">
            <div class="gv-halfway-label">50% of seats</div>
            <div class="gv-halfway-marker"></div>
    
            <div class="gv-chamber-graph">
                <div class="gv-coalition-name">CDU/CSU-SPD</div>
                <div class="gv-coalition-bars-wrapper">
                    <div class="gv-elex-bar gv-cducsu" style="width:49.272359037540326%"></div>
                    <div class="gv-elex-bar gv-spd" style="width:30.52075794806238%"></div>
                </div>
            </div>
            <div class="gv-chamber-graph">
                <div class="gv-coalition-name">CDU/CSU-Green</div>
                <div class="gv-coalition-bars-wrapper">
                    <div class="gv-elex-bar gv-cducsu" style="width:49.272359037540326%"></div>
                    <div class="gv-elex-bar gv-grüne" style="width:10.019841517664705%"></div>
                </div>
            </div>
            <div class="gv-chamber-graph">
                <div class="gv-coalition-name">CDU/CSU-Green-FDP</div>
                <div class="gv-coalition-bars-wrapper">
                    <div class="gv-elex-bar gv-cducsu" style="width:49.272359037540326%"></div>
                    <div class="gv-elex-bar gv-grüne" style="width:10.019841517664705%"></div>
                    <div class="gv-elex-bar gv-fdp" style="width:%"></div>
                </div>
            </div>
            <div class="gv-chamber-graph">
                <div class="gv-coalition-name">CDU/CSU-FDP</div>
                <div class="gv-coalition-bars-wrapper">
                    <div class="gv-elex-bar gv-cducsu" style="width:49.272359037540326%"></div>
                    <div class="gv-elex-bar gv-fdp" style="width:%"></div>
                </div>
            </div>
            <div class="gv-chamber-graph">
                <div class="gv-coalition-name">SPD-Linke-Green</div>
                <div class="gv-coalition-bars-wrapper">
                    <div class="gv-elex-bar gv-spd" style="width:30.52075794806238%"></div>
                    <div class="gv-elex-bar gv-dielinke" style="width:10.187041496732602%"></div>
                    <div class="gv-elex-bar gv-grüne" style="width:10.019841517664705%"></div>
                </div>
            </div>
        </div>
        <div class="gv-coalitions-gloss gv-gloss">Electoral arithmetic in 2013 forced Angela Merkel into a grand coalition with the second-biggest party, the SPD social democrats.This time she may have options, including a 'Jamaican flag coalition' of the CDU, centre-right liberals the FPD, and the Greens.</div>
    </div>